# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

## Answer

## values: 
 'hello' , -87.8, 6

## expressions:
* , - , / , *

# 2. What is the difference between string and variable?

## Answer

Strings are a datatype that represents a sequence of characters comprising of letters, charachters, numbers, spaces, etc. they are written in ("  ") this format.This datatype is used for reading and writing data.

variables stores a value inside them so as to be used later for performing certain tasks on the dataset and can be reffered for getting huge datasets by just typing the variable name.

# 3. Describe three different data types

## Answer

## three datatypes are as follows

1) integer is the datatype used for storing numerical data such as whole  numbers. we represent this datatype by int.

2) float is a datatype that contains numerical data in the form of decimal.
eg, 25.68 is a floating point number.

3) String is a collection of one or more characters represented in single or double quotes or sometimes even tripple quotes. str is the class for string.
we can perform multiple functions on strings.

# 4. What is an expression made up of? What do all expressions do?

## Answer

Expressions is a combination of various operand and operators. it gives a value after we evaluate the expressions. Expressions contain variables, constants etc.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

## Answer

In a statement a value is assigned to a variable. as in the above statement 10 is the value which is been assigned to variable spam.

Expressions are also a kind of statement in which there are operators, different datatypes and variables plus constant.these also include functions.

# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [1]:
bacon=22

In [2]:
bacon+1

23

# 7. What should the values of the following two terms be?

In [3]:
'spam' + 'spamspam'
'spam'*3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

## Answer

1) eggs is a string and by the rules of assigning a variable string is accepted as a variable.

2) whereas 100 is an integer and hence can not be used as a variable however to use it as a variable we have to do typcasting of it to convert it into a string.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

## Answer

1) for getting integer, float and string version of a value we do typecasting.

2) the functions are as follows: int(), float(), str().

# 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten ' + 99 + ' burritos.'

In [4]:
'I have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

We can not concatenate a string and and integer.
to solve this we will have to do typecasting to convert integer 99 to a string.

In [5]:
'I have eaten '+'99'+' burritos'

'I have eaten 99 burritos'