# Lists and Tuples in Python

## Date: 28/07/2022

Notes:To make a list

In [2]:
#To make a list :
grocery=["Harpic","Vim bar","deodrant","Bhindi","Lollypop"]
# Assign a variable then create a lst using square brackets:
grocery

['Harpic', 'Vim bar', 'deodrant', 'Bhindi', 'Lollypop']

In [4]:
# we can also add numbers in the list:
#for example:
grocery=["Harpic","Vim bar","deodrant","Bhindi","Lollypop",56]#this is called as mixed list
grocery

['Harpic', 'Vim bar', 'deodrant', 'Bhindi', 'Lollypop', 56]

In [5]:
# How to access the items of the given list:
# 1) name / variable of the list
# 2) Index of the element in [ ] brackets
# example
grocery[0]

'Harpic'

In [6]:
# we can also make a list of numbers only:
numbers= [2,7,9,11,3]
numbers

[2, 7, 9, 11, 3]

In [7]:
numbers[2] #access the items of the given list

9

Sorting of list:

In [10]:
# in order to sort a list:
numbers.sort() # cmd to sort a list
numbers  # cmd to print the new sorted list

[2, 3, 7, 9, 11]

Reversing of list:

In [11]:
# in order to reverse a list:
numbers.reverse() # cmd to reverse a list
numbers # cmd to print the new reversed list

[11, 9, 7, 3, 2]

Slicing and extended slicing

In [12]:
# slicing of lists (it does not make any change in the original list unlike sort and reverse)
numbers[0:5]

[11, 9, 7, 3, 2]

In [13]:
numbers[:]

[11, 9, 7, 3, 2]

In [14]:
numbers[1:]

[9, 7, 3, 2]

In [15]:
numbers # see it does not make any changes to the list

[11, 9, 7, 3, 2]

In [16]:
# extended slicing of list
numbers[::1] # fromat of the cmd= [FE= starting:SE= ending: steps + 1]

[11, 9, 7, 3, 2]

In [18]:
#examples:
numbers[::2]

[11, 7, 2]

In [20]:
# for minus step (note: steps should not be less than -1)
numbers[::-1] # this basically reverses the list

[2, 3, 7, 9, 11]

Important fuctions of lists

In [21]:
# to check length of the list:
len(numbers)

5

In [22]:
# to check maximum valued element in list:
max(numbers)

11

In [23]:
# to check minimum valued element in list:
min(numbers)

2

In [25]:
# append function ( to add an element to the list)
# append= add to the end
numbers.append(25)
numbers

[11, 9, 7, 3, 2, 25, 25]

In [31]:
# insert function ( to add an element in any location of the list):
numbers.insert(2,58) # here we have added an element in index 2
numbers

[11, 9, 58, 58, 58, 7, 3, 2]

In [33]:
# remove function ( to remove element ):
numbers.remove(7) # here we have removed element of value 7
numbers

[11, 9, 58, 58, 58, 3, 2]

In [34]:
# pop function ( to remove the last element):
numbers.pop()

2

# Tuples:

In [35]:
numbers

[11, 9, 58, 58, 58, 3]

In [36]:
# Mutable= can change
# Immutable= can not change

In [38]:
# our list is mutable but tuple is immutable/
tp=(1,2,3,4) # this thing in bracket is called as parenthesis.
tp # abbreviation of tuple

(1, 2, 3, 4)

In [39]:
# list contains [ ] brackets and tuples contain ( ) brackets
tp[1]=7

TypeError: 'tuple' object does not support item assignment

In [40]:
# in the above error we can see that the values in tuple can not be changed

In [43]:
# when there is 1 element in tuple 
# way of writing code= 
tp=(1,)
tp

(1,)

In [3]:
# in order to swap two numbers:
a=1
b=2
swap = a
a=b
b= swap
print(a,b)

2 1

In [45]:
# in the above cell you acn see the values of a and b are swaped.

In [5]:
# but the shortcut for doing swapping is:
a="chetan"
b="bhaiyuuuu"
a,b=b,a
print(a,b)

bhaiyuuuu chetan

In [48]:
# as we can see the values are swapped.

In [ ]:
# for more related stuffs search on google.